body {
	font-family: "TT Lakes", sans-serif;
	font-weight: 500;
}

.navButton {
	display: inline-block;
	position: relative;
	width: 40px;
	height: 40px;
	border-radius: 50px;
	background-color: #ff3e79;
	transition: .2s ease-in;
}

.navButton:hover {
	opacity: .7;
}

.navButton__icon {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 0;
	max-width: 20px;
}

.menu {
	position: relative;
	max-width: 320px;
	height: 100vh;
	box-shadow: 16px 0px 52px rgba(14, 24, 80, 0.426);
}

.container {
	position: relative;
	display: flex;
	flex-direction: column;
	padding: 19px 24px 32px 24px;
	min-height: 100vh;
}

.menu__header {
	display: flex;
	align-items: center;
	margin-bottom: 50px;
}

.menu__header button:last-child {
	margin-left: auto;
}

.menu__header button {
	margin-right: 17px;
}

.menu__header .head__logo {
	width: 97px;
	height: 51px;
}

.menu__list {
	display: flex;
	flex-direction: column;
	row-gap: 32px;
}

.menu__list a {
	padding: 5px 0;
	transition: ease-in 0.1s;
}

.menu__list a:hover {
	color: #7e7e82;
}

.selected {
	position: relative;
	color: #7e7e82;
}

.selected::before {
	content: "";
	position: absolute;
	left: -24px;
	top: -3px;
	display: inline-block;
	width: 4px;
	height: 32px;
	border-radius: 0px 50px 50px 0px;
	background-color: #41f6d7;
}

.menu__bottom {
	position: absolute;
	bottom: 32px;
}

.bottom__icons {
	display: flex;
	gap: 16px;
	margin-bottom: 16px;
}

.bottom__contacts {
	display: flex;
	flex-direction: column;
	row-gap: 12px;
	margin-bottom: 40px;
}

.bottom__contacts--phone {
	font-size: 24px;
	font-weight: 700;
}

.bottom__language {
	display: flex;
	column-gap: 7px;
}

.bottom__language a:hover {
	color: #7e7e82;
	transition: ease-in 0.1s;
}

.bottom__language--selected {
	color: #7e7e82;
	font: TT Lakes, sans-serif;
}